{template header}

<script type="text/javascript" src="./js/datetime.js?$_CONFIG[refversion]"></script>
<script type="text/javascript" src="3rdparty/jquery.autocomplete/jquery.autocomplete.min.js?$_CONFIG[refversion]"></script>
<style type="text/css">
@import url('3rdparty/jquery.autocomplete/jquery.autocomplete.css?$_CONFIG[refversion]');
</style>

<script>
$(function(){
	$('#nickname').autocomplete({
		serviceUrl : 'admin.php?mod=user&action=suggest',

		formatResult : function(suggestion, currentValue){
			return suggestion.value;
		},

		onSelect : function(suggestion){
			location.href = 'admin.php?mod=user&action=profile&id=' + suggestion.data;
		}
	});
});
</script>

<ol class="nav">
	<li><a href="admin.php">管理面板</a></li>
	<li><a href="$mod_url">往来单位</a></li>
	<li>往来单位列表</li>
</ol>

<div class="box">
	<h1>往来单位列表</h1>

	<div class="content list">
		<form id="condition_form" class="quick_search" action="admin.php" method="get">
			<input type="hidden" name="mod" value="$mod" />
			<dl>
				<dt>往来单位：</dt>
				<dd><input type="text" id="nickname" name="nickname" /></dd>
			</dl>
			<button type="submit" name="format" value="html">查找</button>
		</form>

		<ul class="headactions">
			<li><a href="$mod_url&action=edit">添加往来单位</a></li>
		</ul>
		<table>
			<thead>
				<tr>
					<td>编号</td>
					<td>名称</td>
					<td>添加时间</td>
					<td>订单数量</td>
					<td>赊销</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<!--{loop $user_list $u}-->
				<tr>
					<td><a href="admin.php?mod=user&action=profile&id=$u[id]">$u[id]</a></td>
					<td>$u[nickname]</td>
					<td>{echo rdate($u['regtime'])}</td>
					<td><a href="admin.php?mod=order&userid=$u[id]&time_start=&time_end=&tradestate=0">$u[ordernum]</a></td>
					<td><a href="admin.php?mod=payment:userwallet&userid=$u[id]">$u[wallet]</a></td>
					<td>
						<a href="$mod_url&action=edit&id=$u[id]">[编辑]</a>
						<a href="$mod_url&action=delete&id=$u[id]">[删除]</a>
					</td>
				</tr>
				<!--{/loop}-->
			</tbody>
		</table>
	</div>
</div>

{echo Template::mpage($user_num, $page, $limit, $mod_url.$query_string)}

{template footer}
